<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" th:href="@{css/reset.css}">
		<link rel="stylesheet" th:href="@{css/index.css}">
		<title>龙鑫商城</title>
	</head>
	<body>
		<div id="wrapper">
			<!--头部搜索框 start-->
			<div class="wf-search" id="search">
				<header>
					<div class="search">
						<form>	
							<span class="sprite-icon"></span>
							<input type="search" placeholder="搜索商品">
						</form>
					</div>
				</header>
			</div>
			<!--头部搜索框 end-->
			<div class="Integral_mall clearfix">
				<div class="integ_box topline clearfix">
					<div class="integ_left fl">
						<ul class="integ_ul">
							<li class="integ_li topline" th:each="menu:${menuMap.get('classified')}">
								<span th:text="${menu.getMenuName()}"></span>
								<p class="integ_border"></p>
							</li>
							<p class="integ_top topline"></p>
						</ul>
					</div>
					<div class="integ_right clearfix fr">
						<ul class="integ_main clearfix" th:each="prod:${menuMap.get('prodLs')}">
							<li class="integ_con fl" th:each="child:${prod}">
								<a th:href="@{goodsls(goodsMenu=${child.getId()})}" >
									<img th:src="@{${child.getImageSrc()}}">
									<span class="integ_text" th:text="${child.getMenuName()}"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<!--menu  start-->
			<div id="menu">
				<ul>
					<li><a th:href="@{index}"><font class="iconfont">&#xe612;</font><span class="inco_txt">首页</span></a></li>
					<li><a th:href="@{classified}"><font class="iconfont">&#xe660;</font><span class="inco_txt">分类</span></a></li>
					<li><a th:href="@{shoppingCar}"><font class="iconfont index">&#xe63e;</font><span class="inco_txt">购物车</span></a></li>
					<li><a th:href="@{user}"><font class="iconfont">&#xe62e;</font><span class="inco_txt">我的</span></a></li>
				</ul>
			</div> 
			<!--menu  end-->
            <div id="back_top">
				<a href="#"><img th:src="@{images/index/xqq/the_top.png}" /></a>
			</div>
			<script type="text/javascript" th:src="@{js/index/rem.js}" ></script>
			<script type="text/javascript" th:src="@{js/index/jquery-1.11.3.min.js}"></script>
			<script th:src="@{js/index/fill_name.js}"></script>
            <script th:src="@{js/menu.js}"></script>
			<script type="text/javascript" th:src="@{js/index/top.js}" ></script>
            <script>
				$(function(){
					var oBtn = document.getElementById("menu");
					var uLi = oBtn.getElementsByTagName("a");
					uLi[1].className = "red";
				});
            	
				
            </script>
	</body>
</html>
