<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" th:href="@{css/reset.css}">
		<link rel="stylesheet" th:href="@{css/index.css}">
		<link rel="stylesheet" th:href="@{css/base.css}">
		<link rel="stylesheet" type="text/css" th:href="@{css/ui.css}">
		<title>龙鑫商城</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="int_title"><span class="int_pic"><img th:src="@{images/left.png}"/></span>确认订单</div>
			<div class="m_pwd topline">
				<div class="empty">
					<div class="e_content">
						<img th:src="@{images/shopingcart_03.png}">
						<span>购物车空空如也，不如</span>
						<a th:href="@{index}" class="e_btn">去首页逛逛</a>
					</div>
				</div>
			</div>
			<!--menu  start-->
				<div class="tab-bar tab-bottom" id="footer">
					<a class="tab-button " th:href="@{index}"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
					<a class="tab-button " th:href="@{goodsls}"><i class="tab-button-icon icon icon-post"></i><span class="tab-button-txt">全部商品</span></a>
					<a class="aui-active tab-button " th:href="@{shoppingCar}"><i class="tab-button-icon icon icon-car"></i><span class="tab-button-txt">购物</span></a>
					<a class="tab-button " th:href="@{user}"><i class="tab-button-icon icon icon-myme"></i><span class="tab-button-txt">我的</span></a>
				</div>
			<!--menu  start-->
		</div>
			<script type="text/javascript" th:src="@{js/index/rem.js}" ></script>
			<script type="text/javascript" th:src="@{js/index/menu.js}" ></script>
	</body>
</html>
