<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" th:href="@{css/reset.css}">
		<link rel="stylesheet" th:href="@{css/index.css}">
		<title>龙鑫商城</title>
	</head>
	<body>
		<div id="wrapper" class="m_pwd">
			<div class="int_title">支付成功</div>
			<div class="pay_success topline">
				<div class="pay_s_box">
					<div class="pay_s_b_pic clearfix" style="width:100%">
						<p class="pay_pic_img fl" style="padding-top: 5%">
							<img th:src="@{images/index/index/dd_03.png}" />
						</p>
						<p class="pay_pic_text fr">
							<span>订单编号 : <font th:text="${traceNo}"></font></span>
							<span>周边通交易号 : <font th:text="${backChnnlTraceNo}"></font></span>
							<span>交易金额 : <font th:text="${'¥'+trxAmt}"></font></span>
						</p>
					</div>
					<div class="pay_btn clearfix">
						<a th:href="@{order}" class="pay_a_btn p_money fl">
							查看订单
						</a>
						<a th:href="@{index}" class="pay_a_btn p_money fr">
							返回首页
						</a>
					</div>
				</div>
			</div>
			<!--banner start-->	
				<!--<main class="pay_top">
					<div class="best_Sellers order_top best_top  clearfix">
						<h3 class="best_title pay_pading"><p>热销商品</p></h3>
						<ul>
							<li class="border_right">
								<img th:src="@{images/index/jifen/sp.png}" />
								<span>迷你智能电饭煲HYFG-1016</span>
								<span class="int_color">86.0积分</span>
							</li>
						</ul>
					</div>
					<p class="notice">没有更多商品了！</p>
				</main>
			</div>-->
			<div id="back_top">
				<a href="#"><img th:src="@{images/index/xqq/the_top.png}" /></a>
			</div>
			<script type="text/javascript" src="js/index/rem.js" ></script>
			<script type="text/javascript" src="js/index/pay_success.js"></script>
	</body>
</html>
