<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的订单</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" th:src="@{js/jquery-1.11.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/order/tab.js}"></script>
    </head>
    <body>

        <!--

         * 17素材vip建站专区模块代码
         * 详尽信息请看官网：http://www.17sucai.com/pins/vip
         *
         * Copyright , 温州易站网络科技有限公司版权所有
         *
         * 请尊重原创，未经允许请勿转载。
         * 在保留版权的前提下可应用于个人或商业用途

        -->

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">我的订单</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-tab" data-ydui-tab>
                    <ul class="tab-nav">
                        <li class="tab-nav-item tab-active">
                            <a href="javascript:;">全部</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">待付款</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">待收货</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">已完成</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">已取消</a>
                        </li>
                    </ul>
                    <div class="divHeight"></div>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>自营Apple产品专营店</h3>
                                    </div>
                                    <span class="aui-well-item-fr">已取消</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{/orderInfo}" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-001.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>Apple 苹果 iPhone8 Plus 4G手机 深空灰 移动联通版64G裸机Apple 苹果 iPhone8 Plus 4G手机 深空灰 移动联通版64G裸机</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>6899.00</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">再次购买</a>
                                    <a href="javascript:;" class="aui-df-color">评价晒单</a>
                                </div>
                            </div>
                            <div class="divHeight"></div>
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>自营Apple产品专营店</h3>
                                    </div>
                                    <span class="aui-well-item-fr">已取消</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a href="javascript:;" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-002.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>Apple 苹果 iPhone8 Plus 4G手机 深空灰 移动联通版64G裸机Apple 苹果 iPhone8 Plus 4G手机 深空灰 移动联通版64G裸机</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>6899.00</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">再次购买</a>
                                </div>
                            </div>
                            <div class="divHeight"></div>
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>自营Apple产品专营店</h3>
                                    </div>
                                    <span class="aui-well-item-fr">已取消</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a href="javascript:;" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-003.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>Apple 苹果 iPhone8 Plus 4G手机 深空灰 移动联通版64G裸机Apple 苹果 iPhone8 Plus 4G手机 深空灰 移动联通版64G裸机</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>6899.00</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">再次购买</a>
                                    <a href="javascript:;">再次购买</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>SONY京东自营官方旗舰店</h3>
                                    </div>
                                    <span class="aui-well-wait">等待付款</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{/orderInfo} class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-002.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>索尼（SONY）WH-1000XM2 Hi-Res无线蓝牙耳机 智能降噪耳机 头戴式 1000x二代 香槟金</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>2298.00</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">去支付</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>自营Apple产品专营店</h3>
                                    </div>
                                    <span class="aui-well-wait">等待收货</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a href="javascript:;" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-003.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>FILA斐乐男鞋2018夏季新款LOGO轻便复古跑鞋运动鞋男 标准白 41FILA斐乐男鞋2018夏季新款LOGO轻便复古跑鞋运动鞋男 标准白 41FILA斐乐男鞋2018夏季新款LOGO轻便复古跑鞋运动鞋男 标准白 41FILA斐乐男鞋2018夏季新款LOGO轻便复古跑鞋运动鞋男 标准白 41</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>6899.00</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">等待收货</a>
                                    <a href="javascript:;" class="aui-df-color">再次购买</a>
                                    <a href="javascript:;" class="aui-df-color">查看物流</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>自营Apple产品专营店</h3>
                                    </div>
                                    <span class="aui-well-item-fr"></span>
                                </a>
                                <div class="aui-mail-product">
                                    <a href="javascript:;" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-004.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>盼盼 酸梅汤 酸梅汁风味饮料 250ml*24盒 整箱 果汁饮料</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>21.90</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">再次购买</a>
                                    <a href="javascript:;" class="aui-df-color">评价晒单</a>
                                    <a href="javascript:;" class="aui-df-color">查看发票</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="tab-item">
                                <a href="javascript:void(0);" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{/images/order/icon-logo.png}" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>自营Apple产品专营店</h3>
                                    </div>
                                    <span class="aui-well-item-fr">已取消</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a href="javascript:;" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{/images/order/pd-005.png}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p>OPPO R15 全面屏双摄拍照手机 4G+128G 雪盈白 全网通 移动联通电信4G 双卡双待手机</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="javascript:;" class="aui-mail-payment">
                                    <p>
                                        共<em>1</em>
                                        件商品 实付款: ￥<i>2499.00</i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">再次购买</a>
                                    <a href="javascript:;" class="aui-df-color">评价晒单</a>
                                    <a href="javascript:;" class="aui-df-color">查看发票</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
