<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的订单</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" th:src="@{js/jquery-1.11.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/order/tab.js}"></script>
    </head>
    <body>

		<section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" onclick="backgo()" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">我的订单</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-tab" data-ydui-tab>
                    <ul class="tab-nav">
                        <li class="tab-nav-item tab-active">
                            <a href="javascript:;">全部</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">待付款</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">待收货</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">已完成</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">已取消</a>
                        </li>
                    </ul>
                    <div class="divHeight"></div>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                        	<div class="tab-item" th:if="${#lists.size(allOrders)==0}">
                        		<img th:src="@{images/noorder.jpg}" alt="" />
                        	</div>
                            <div class="tab-item" th:each="order:${allOrders}">
                                <a href="javascript:;" class="aui-well-item aui-well-item-clear">
                                    <div class="aui-well-item-hd">
                                        <img th:src="@{images/favicon.jpg}" style="padding-top: 2px" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>龙鑫商城</h3>
                                    </div>
                                    <span class="aui-well-item-fr" th:if="${order.orderStatus eq '04'}" th:onclick="delorder([[${order.id}]])">已取消</span>
                                    <span class="aui-well-wait" th:if="${order.orderStatus eq '03' || order.orderStatus eq '05'}">等待付款</span>
                                    <span class="aui-well-wait" th:if="${order.orderStatus eq '00' && (order.deliverStatus eq '02' || order.deliverStatus eq '01')}">等待收货</span>
                                    <span class="aui-well-item-fr" th:if="${order.deliverStatus eq '03'}"></span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{${order.goods.imgPath}}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p th:text="${order.goods.title+' '+order.goods.desc}"></p>
                                        </div>
                                    </a>
                                </div>
                                <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-payment">
                                    <p>
                                        共<em th:text="${order.count}"></em>
                                        件商品 <span th:text="${order.orderStatus eq '00'?'实付款:':'应付款'}"></span> ￥<i th:text="${order.totalOrdrAmt}"></i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a th:href="@{goodsInfo(goodsId=${order.goods.id})}">再次购买</a>
                                    <!--<a href="javascript:;" class="aui-df-color">评价晒单</a>-->
                                </div>
                                <div class="divHeight"></div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                        	<div class="tab-item" th:if="${#lists.size(watiPay)==0}">
                        		<img th:src="@{images/noorder.jpg}" alt="" />
                        	</div>
                            <div class="tab-item" th:each="order:${watiPay}">
                                <a href="javascript:;" class="aui-well-item aui-well-item-clear">
                                     <div class="aui-well-item-hd">
                                        <img th:src="@{images/favicon.jpg}" style="padding-top: 2px" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>龙鑫商城</h3>
                                    </div>
                                    <span class="aui-well-wait">等待付款</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{${order.goods.imgPath}}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p th:text="${order.goods.title+' '+order.goods.desc}"></p>
                                        </div>
                                    </a>
                                </div>
                                <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-payment">
                                    <p>
                                        共<em th:text="${order.count}"></em>
                                        件商品 实付款: ￥<i th:text="${order.totalOrdrAmt}"></i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">去支付</a>
                                </div>
                                <div class="divHeight"></div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                        	<div class="tab-item" th:if="${#lists.size(waitCollect)==0}">
                        		<img th:src="@{images/noorder.jpg}" alt="" />
                        	</div>
                            <div class="tab-item" th:each="order:${waitCollect}">
                                <a href="javascript:;" class="aui-well-item aui-well-item-clear">
                                     <div class="aui-well-item-hd">
                                        <img th:src="@{images/favicon.jpg}" style="padding-top: 2px" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>龙鑫商城</h3>
                                    </div>
                                    <span class="aui-well-wait">等待收货</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{${order.goods.imgPath}}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p th:text="${order.goods.title+' '+order.goods.desc}"></p>
                                        </div>
                                    </a>
                                </div>
                                <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-payment">
                                    <p>
                                        共<em th:text="${order.count}"></em>
                                        件商品 实付款: ￥<i th:text="${order.totalOrdrAmt}"></i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">等待收货</a>
                                    <a href="javascript:;" class="aui-df-color">再次购买</a>
                                   <!-- <a href="javascript:;" class="aui-df-color">查看物流</a>-->
                                </div>
                                <div class="divHeight"></div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                        	<div class="tab-item" th:if="${#lists.size(complete)==0}">
                        		<img th:src="@{images/noorder.jpg}" alt="" />
                        	</div>
                            <div class="tab-item" th:each="order:${complete}">
                                <a th:href="@{index}" class="aui-well-item aui-well-item-clear">
                                     <div class="aui-well-item-hd">
                                        <img th:src="@{images/favicon.jpg}" style="padding-top: 2px" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>龙鑫商城</h3>
                                    </div>
                                    <span class="aui-well-item-fr"></span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{${order.goods.imgPath}}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p th:text="${order.goods.title+' '+order.goods.desc}"></p>
                                        </div>
                                    </a>
                                </div>
                                <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-payment">
                                    <p>
                                        共<em th:text="${order.count}"></em>
                                        件商品 实付款: ￥<i th:text="${order.totalOrdrAmt}"></i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a href="javascript:;">再次购买</a>
                                    <!--<a href="javascript:;" class="aui-df-color">评价晒单</a>-->
                                   <!-- <a href="javascript:;" class="aui-df-color">查看发票</a>-->
                                </div>
                                <div class="divHeight"></div>
                            </div>
                        </div>
                        <div class="tab-panel-item">
                        	<div class="tab-item" th:if="${#lists.size(cancel)==0}">
                        		<img th:src="@{images/noorder.jpg}" alt="" />
                        	</div>
                            <div class="tab-item" th:each="order:${cancel}">
                                <a href="javascript:;" class="aui-well-item aui-well-item-clear">
                                     <div class="aui-well-item-hd">
                                        <img th:src="@{images/favicon.jpg}" style="padding-top: 2px" alt="">
                                    </div>
                                    <div class="aui-well-item-bd">
                                        <h3>龙鑫商城</h3>
                                    </div>
                                    <span class="aui-well-item-fr" th:onclick="delorder(this,[[${order.id}]])">已取消</span>
                                </a>
                                <div class="aui-mail-product">
                                    <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-product-item">
                                        <div class="aui-mail-product-item-hd">
                                            <img th:src="@{${order.goods.imgPath}}" alt="">
                                        </div>
                                        <div class="aui-mail-product-item-bd">
                                            <p th:text="${order.goods.title+' '+order.goods.desc}"></p>
                                        </div>
                                    </a>
                                </div>
                                <a th:href="@{orderInfo(traceNo=${order.id})}" class="aui-mail-payment">
                                    <p>
                                        共<em th:text="${order.count}"></em>
                                        件商品 应付款: ￥<i th:text="${order.totalOrdrAmt}"></i>
                                    </p>
                                </a>
                                <div class="aui-mail-button">
                                    <a th:href="@{goodsInfo(goodsId=${order.goods.id})}">再次购买</a>
                                </div>
                                <div class="divHeight"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <script type="text/javascript">
        	
        	function delorder(d,id){
        		$.ajax({
		        		data: JSON.stringify({"id":id}),
		        		url:  "delOrder",
		        		type: "POST",
		        		contentType:"application/json",
		        		success:function(data){
		        			if(data.respcode=="000000"){
		        				d.closest('.tab-item').remove();
		        			}
		        		},
		        		error:function(msg)
		        		{
		        			console.log(msg);
		        		}
	        		});
        	}
        	
        	function backgo(){
				self.location=document.referrer;
			}
        </script>
        
    </body>
</html>
