<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
    <title>商城</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset_m.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/base.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/ui.css}">
</head>

<body>
    <div class="pg-mayilian pg-ofmy">
    	<div class="topbanner text-center" style="height: 150px;">
            <div class="avatar"><img th:src="@{images/user-logo-003.png}" alt=""></div>
            <div><span th:text="${userName}"></span></div>
        </div>
        <div class="blockH"></div>
        <div class="card">
            <div class="border-bot cardcell item-arrow">
                <a th:href="@{/userInfo}">个人信息<img th:src="@{images/icon_cards.png}" alt="" style="float: right;width: 16px;margin-top: 4px;"></a>
            </div>
            <div class="border-bot cardcell item-arrow">
                <a href="#">
                    会员升级
                    <div class="shengjiicon">
                        <span>A</span>
                        <span>B</span>
                        <span>C</span>
                        <span>D</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="blockH"></div>
        <div class="card">
            <div class="border-bot cardcell item-arrow">
                <a th:href="@{/order}">订单</a>
            </div>
            <div class="border-bot cardcell item-arrow">
                <a href="">钱包</a>
            </div>
        </div>
        <div class="blockH"></div>
        <div class="card">
            <div class="border-bot cardcell item-arrow">
                <a href="#">安全中心</a>
            </div>
            <div class="border-bot cardcell item-arrow">
                <a href="">设置</a>
            </div>
        </div>
        <div class="blockH"></div>
        <div class="card">
            <div class="border-bot cardcell item-arrow">
                <a href="#">客服</a>
            </div>
        </div>
        <div class="blockH"></div>
    </div>
    	<!--<div id="menu">
            <ul>
                <li><a th:href="@{index}"><font class="iconfont">&#xe612;</font><span class="inco_txt">首页</span></a></li>
                <li><a th:href="@{goodsls}"><font class="iconfont">&#xe660;</font><span class="inco_txt">全部商品</span></a></li>
                <li><a th:href="@{shoppingCar}"><font class="iconfont index">&#xe63e;</font><span class="inco_txt">购物车</span></a></li>
                <li><a th:href="@{user}"><font class="iconfont">&#xe62e;</font><span class="inco_txt">我的</span></a></li>
            </ul>
    	</div>-->
    	<div class="tab-bar tab-bottom" id="footer">
			<a class="tab-button " th:href="@{index}"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
			<a class="tab-button " th:href="@{goodsls}"><i class="tab-button-icon icon icon-post"></i><span class="tab-button-txt">全部商品</span></a>
			<a class="tab-button " th:href="@{shoppingCar}"><i class="tab-button-icon icon icon-car"></i><span class="tab-button-txt">购物</span></a>
			<a class="aui-active tab-button" th:href="@{user}"><i class="tab-button-icon icon icon-myme"></i><span class="tab-button-txt">我的</span></a>
		</div>
    <script type="text/javascript" th:src="@{js/index/jquery-1.11.3.min.js}" ></script>
</body>

</html>