<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
    <title>收货地址</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset_m.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
     <link rel="stylesheet" type="text/css" th:href="@{css/fixed.css}">
</head>

<body>
	<header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">我的收货地址</span>
        </div>
        <a th:href="@{addAddress}" class="aui-navBar-item">
            <span style="font-weight:500;font-size:1.5rem">添加新地址</span>
        </a>
    </header>
    <div class="pg-addresslist">
        <div class="blockH"></div>
    	<div class="card" th:each="address,addstate:${addrLs}">
    	<a th:href="@{fillOrder(orderId=${ordrIds})}" th:id="${'href'+address.id}" style="display:none">
    		<span th:id="${address.id}"></span>
    	</a>
            <div class="border-bot cardcell" th:onclick="choice([[${address.id}]])">
                <h1><span th:text="${address.recvName}"></span><span style="color:gray;font-size:1.3rem;padding-left: 20px" th:text="${address.phone}"></span></h1>
                <p class="fontsmall" th:text="${address.provice+' '+address.city+' '+address.county+' '+address.detailedAddr}"></p>
            </div>
            <div class="cardcell clearfix fontsmall">
                <label class="fl">
                    <div class="radios">
                        <input type="radio" name="moren" th:onchange="dftAddr([[${address.id}]])" th:checked="${address.dftAddr} eq '1'">
                    </div>
                    <span>默认地址</span>
                </label>
                <div class="fr">
                    <a th:href="@{updateAddr(id=${address.id})}" class="operate" >编辑</a>
                    <a href="javascript:;" class="operate" th:if="${address.dftAddr} ne '1'" th:onclick="delRecvAddr([[${address.id}]])">删除</a>
                </div>
            </div>
             <div class="blockH"></div>
    	</div>
        <div class="blockH"></div>
	        
       <!-- <div class="card">
            <a th:href="@{addAddress}" class="btn-block">+ 新建地址</a>
        </div>-->
    </div>
    <script type="text/javascript" th:src="@{js/jquery-1.11.1.min.js}"></script>
    <script th:inline="javascript">
    	function choice(id){
    		/*<![CDATA[*/
    			var ids = [[${ordrIds}]];
    		/*]]>*/
    		if(!ids){
    			return;
    		}
    		$('#href'+id).attr('href',$('#href'+id).attr('href')+'&addrId='+id);
    		$('#'+id).click();
    	}
    
    	//删除地址信息
    	function delRecvAddr(id){
    		if(!$(this).val()){
    			return;
    		}
    		$.ajax({
    			data: JSON.stringify({"id":id}),
	    		url:  "delAddr",
	    		type: "POST",
	    		contentType:"application/json",
	    		success:function(data){
	    			if(data.respcode!="000000"){
	    				alert.log(data.respmsg)
	    			}else{
	    				console.log(data.respmsg);
	    				window.location.reload();
	    			}
	    		},
	    		error:function(msg) {
	    			console.log(msg);
	    		}
	    	});
    	}
    	
    	
    	function dftAddr(id){
    		$.ajax({
    			data: JSON.stringify({"id":id}),
	    		url:  "updDftAddr",
	    		type: "POST",
	    		contentType:"application/json",
	    		success:function(data){
	    			if(data.respcode!="000000"){
	    				console.log(data.respmsg);
	    			}else{
	    				console.log(data.respmsg);
	    			}
	    		},
	    		error:function(msg) {
	    			console.log(msg);
	    		}
	    	});
    	
    	}
    
    </script>
</body>

</html>