
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>订单详情</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link th:href="@{/css/orderInfo/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>


        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">订单详情</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-flex aui-flex-context">
                    <div class="aui-flex-box">
                        <h2 th:text="${params.msg}"></h2>
                        <!--<h3><span th:text="${order.desc}" th:unless="${order.desc!=null}"></span></h3>-->
                    </div>
                    <div class="aui-assemble-img">
                        <img th:src="@{/images/orderInfo/time.png}" alt="">
                    </div>
                </div>
                <div class="aui-flex">
                    <div class="aui-address-img">
                        <img th:src="@{/images/orderInfo/add.png}" alt="">
                    </div>
                    <div class="aui-flex-box">
                        <h4 th:text="${params.addr.recvName+' '+params.addr.phone}"></h4>
                        <h5 th:text="${params.addr.provice+' '+params.addr.city+' '+params.addr.county+params.addr.detailedAddr}"></h5>
                    </div>
                </div>
                <div class="divHeight"></div>
                <div class="aui-flex b-line">
                    <div class="aui-address-logo">
                        <img th:src="@{/images/favicon.jpg}" alt="">
                    </div>
                    <div class="aui-flex-box">
                        <h5>龙鑫商城</h5>
                    </div>
                    <!--<div class="aui-address-arrow"></div>-->
                </div>
                <a th:each="order:${params.orders}" th:href="@{/goodsInfo(goodsId=${order.goods.id})}">
                	<div class="aui-flex aui-flex-four">
	                    <div class="aui-flex-add">
	                        <img th:src="@{'/'+${order.goods.imgPath}}" alt="">
	                    </div>
	                    <div class="aui-flex-box">
	                        <p th:text="${order.goods.title+' '+order.goods.desc}"></p>
	                        <p class="b-line" style="color:#999" th:text="${'X'+ order.count}"></p>
	                    </div>
                	</div>
                </a>
                <div class="aui-flex aui-flex-four" th:if="${#strings.indexOf('06,11',params.trans.trxStatus)} != -1" style="padding-top:0">
                    <div class="aui-flex-box">
                        <button th:text="${(params.trans.trxStatus ne '06')? '已退款':'部分退款'}"></button>
                    </div>
                </div>
                <div class="aui-flex b-line">
                    <div class="aui-flex-box">
                        <h6><span th:text="${(#strings.indexOf('00,06,11',params.trans.trxStatus)==-1)?'应付款':'实付款:'}"></span> <em th:text="${'¥'+params.trans.trxAmt}"></em> </h6>
                    </div>
                </div>
                <!--<div class="aui-list-box">
                    <a href="javascript:;" class="aui-flex aui-flex-right">
                        <div class="aui-flex-icon-img">
                            <img th:src="@{images/orderInfo/icon-news.png}" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h4>联系卖家</h4>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-flex-icon-img">
                            <img th:src="@{images/orderInfo/icon-phone.png}" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h4>拨打电话</h4>
                        </div>
                    </a>
                </div>-->
                <div class="divHeight"></div>
                <div class="aui-flex">
                    <div class="aui-flex-box">
                        <h4>交易流水号: <em th:text="${params.trans.traceNo}"></em></h4>
                        <h4>交易创建时间: <em th:text="${#strings.substringBefore(params.trans.createTime,'.')}"></em></h4>
                        <h4>周边通订单号: <em th:text="${params.trans.backChnlTraceNo}"></em></h4>
                    </div>
                </div>
            </section>
        </section>

    </body>
</html>
