<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<link rel="stylesheet" th:href="@{css/reset.css}">
		<link rel="stylesheet" th:href="@{css/index.css}">
		<title>龙鑫商城</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="m_pwd topline" style="background-color: white">
				<div class="empty">
					<div class="e_content" >
						<img th:src="@{images/404.jpg}">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
