<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		<!--<link rel="shortcut icon" th:href="@{favicon.ico}"/>
   		<link rel="bookmark" th:href="@{favicon.ico}"/>-->
		<link rel="stylesheet" th:href="@{css/reset.css}">
		<link rel="stylesheet" th:href="@{css/index.css}">
		<title>龙鑫商城</title>
	</head>
	<body style="-webkit-text-size-adjust: 100%!important;">
		<div id="wrapper">
			<!--头部搜索框 start-->
			<div class="wf-search" id="search">
				<header>
					<div class="search">
						<form>	
							<span class="sprite-icon"></span>
							<input type="search" placeholder="搜索商品">
						</form>
					</div>
				</header>
			</div>
			<!--头部搜索框 end-->
			<!--banner start-->
			<div id="slider">
				<div class="swiper-container clearfix">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><a href="Orchard_fragrance.html"><img th:src="@{images/index/images/banner1.png}"/></a></li>
						<li class="swiper-slide"><a href="Birthday_zone.html"><img th:src="@{images/index/images/banner2.jpg}"/></a></li>
						<li class="swiper-slide"><a href="Integral_mall.html"><img th:src="@{images/index/images/banner3.jpg}"/></a></li>
					</ul>
				</div>
				<!--
				<div class="slider-btn clearfix">
					<span class="active"></span>
					<span></span>
					<span></span>
				</div>
				-->
				<div class="swiper-pagination"></div>
			</div>
			<!--banner end-->
			<!--nav start-->
			<div id="nav">
				<nav class="clearfix">
					<a th:each="menu:${menus}" th:href="@{goodsls(goodsMenu=${menu.id})}">
						<img th:src="@{${menu.imageSrc}}" />
						<span th:text="${menu.menuName}"></span>
					</a>
					<div class="edmond clearfix">
						夏季炎热签收水果前请确认0
					<div style="width:100px;height:38px;float:left;padding-left: 10px;margin-bottom: 2px;margin-top: 2px">
						<img style="max-height: 100%;max-width: 100%" th:src="@{images/favicon.jpg}" />
					</div>
					<!--<span class="sprite-icon"  ></span>
						<div class="swiper-container edmond_child">
							<ul class="swiper-wrapper edmond_width clearfix">
								<li class="swiper-slide edmond_con fl">
									夏季炎热签收水果前请确认1
								</li>
							</ul>
						</div>-->
					</div>
				</nav>
			</div>
				<section class="bg-f8 padding-top-bottom-1rem  clearfix" style="">
						<ul class="clearfix  goodslist  margin-auto" id="goods_list">
							<li class="col-xs-6 padding-0 margin-bottom-d75rem" th:each="product:${goodsLs}" >
								<a th:href="@{goodsInfo(goodsId=${product.getId()})}">
									<img th:src="@{${product.getImgPath()}}" th:alt="${product.getTitle()}" th:title="${product.getTitle()}">
								</a>
								<div class="font-size-1rem ">
									<p class="margin-top-bottom-1rem "><a th:href='@{goodsInfo(goodsMenu=${product.getId()})}' th:text="${product.getTitle()}"></a></p>
									<p class="text-red"><span class="font-size-d8rem">￥</span><span class="font-weight-700" th:text="${product.getPrice()}"></span></p>
								</div>
							</li>
						</ul>
					</section>
				<!--menu  start-->
				<div id="menu">
					<ul>
						<li><a th:href="@{index}" class="red"><font class="iconfont">&#xe612;</font><span class="inco_txt">首页</span></a></li>
						<li><a th:href="@{goodsls}"><font class="iconfont">&#xe660;</font><span class="inco_txt">全部商品</span></a></li>
						<li><a th:href="@{shoppingCar}"><font class="iconfont index">&#xe63e;</font><span class="inco_txt">购物车</span></a></li>
						<li><a th:href="@{user}"><font class="iconfont">&#xe62e;</font><span class="inco_txt">我的</span></a></li>
					</ul>
				</div> 
				<!--menu  end-->
			</div>
			<!--menu  end-->
			<div id="back_top">
				<a href="#"><img th:src="@{images/index/xqq/the_top.png}" /></a>
			</div>
			<script type="text/javascript" th:src="@{js/index/rem.js}" ></script>
			<script type="text/javascript" th:src="@{js/index/swiper.min.js}" ></script>
			<script type="text/javascript" th:src="@{js/index/index.js}" ></script>
			<script type="text/javascript" th:src="@{js/index/top.js}" ></script>
			<script type="text/javascript" th:src="@{js/menu.js}" ></script>
			<script type="text/javascript" th:src="@{js/index/jquery-1.11.3.min.js}" ></script>
	</body>
</html>
